@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

@tailwind base;
@tailwind components;

@layer base {
    body {
        @apply p-0 m-0 box-border
    }
    h1 {
        @apply text-[25px] font-IBM font-bold
    }
    h2 {
        @apply text-[24px] font-IBM 
    }
}
.custom {
    overflow: hidden;
    display:-webkit-box;
    -webkit-box-orient:vertical;
    -webkit-line-clamp:2;
}
.tips {
    top: calc(100% + 15px)
}