@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

@tailwind base;
@tailwind components;

@layer base {
    body {
        @apply p-0 m-0 box-border
    }
    h1 {
        @apply text-[25px] font-IBM font-bold
    }
    h2 {
        @apply text-[24px] font-IBM 
    }
    a {
        @apply no-underline
    }
    li {
        @apply list-none
    }
}
@layer components {
    .input-style {
        @apply block rounded-sm text-[18px] font-normal border-[1px] border-slate-400 shadow-sm w-[100%] leading-9 focus:outline-[#f3d64380] focus:drop-shadow-[0_0_6px_#f3d64380]
    }
}
.custom {
    overflow: hidden;
    display:-webkit-box;
    -webkit-box-orient:vertical;
    -webkit-line-clamp:2;
}
.tips {
    top: calc(100% + 15px)
}
.tips-md {
    top: calc(100% + 20px)
}